<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/js/example.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo1.png">
    <link rel="stylesheet" href="/estilos/estilos.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivas Umwelt - ;)</title>
</head>

<body class="container">
    <header class="header">
        <nav>

            <div class="containerBotones">
                <div><img class="Logo" src="/img/logo1.png"></div>
                <div id="menuBotones"><a href="../views/index.html">Inicio</a></div>
                <div id="menuBotones"><a href="../views/aboutus.html">Sobre nosotros</a></div>
                <div id="menuBotones"><a href="../views/services.html">Servicios</a></div>
                <div id="menuBotones"><a href="../views/contact.html">Contacto</a></div>
            </div>

        </nav>

    </header>

    <main>
        <section class="item left">
            <h1 class="tituloSection" >Seguridad, Higiene y Medio Ambiente</h1>
            <h2 class="subTituloSection">Todas las soluciones en un solo sitio</h2>

            <article>
                <div></div>
                <div></div>
            </article>
        </section>

        <aside class="item contenido">

        </aside>
    </main>


    <!-- <i class="fa fa-car"></i>
        <i class="fa fa-car" style="font-size:48px;"></i>
        <i class="fa fa-user" style="font-size:60px;color:red;"></i> -->

    <!-- <div id="ww_074bafbaf3ae4" v='1.3' loc='id'
        a='{"t":"horizontal","lang":"de","ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
        Weather Data Source: <a href="https://paris.wetter-heute.org/" id="ww_074bafbaf3ae4_u"
            target="_blank">paris.wetter-heute.org/</a></div>
    <script async src="https://app1.weatherwidget.org/js/?id=ww_074bafbaf3ae4"></script>

    <iframe
        src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light"
        frameborder="0" scrolling="NO" allowtransparency="true"
        sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
        style="width: 216px; height: 420px"></iframe>
    <div> -->
        <!-- DO NOT REMOVE THIS LINK -->
        <!-- <a
            href="https://www.meteoblue.com/en/weather/week/index?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget"
            target="_blank" rel="noopener">meteoblue</a>
    </div>

    <select id="result1" name="result1"></select>

    <div id="result2" name="result2"></div> -->

    <footer class="item footer">
        <p>Rivas Umwelt - 2022</p>
    </footer>

</body>

</html>