
body{
    background-color:#adafb0;
}
.Logo{
    position: absolute;
    width: 133px;
    height: 111px;
}
.container{
    display: grid;
    grid-template:100px 1fr 100px / 600px 1fr;
    grid-template-areas: "header header"
                         "left contenido"
                         "footer footer";
    grid-gap: 20px;
    height: 100vh;
}

/*Parte de los navegadores / Botones*/
.header{
    grid-area: header;
    margin-top: 10px;
}
li{
    list-style-type: none;
}
.containerBotones{
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto auto auto;
}
.containerBotones > div {
    text-align: center;
    font-size: 20px;
}
#menuBotones{
    border-radius: 25px;
    background-color: #e4e4e2;
    padding: 15px;

}
a{
    text-decoration: none;
    color: #000;
}
.Logo{
    max-width: 100%;
    height: auto;
    left: 0px;
    top: 4px;
}


/* Main dentro Section y Aside*/
.containermain{
    display: grid;
    grid-template: 120px 1fr 120px / 700px 1fr;
    grid-template-areas: "header header"
                        "left contenido"
                        "footer footer";
    height: 100vh;
    grid-gap: 20px;
    align-content: center;
    justify-content:space-between;
}
/*Parte del texto section*/
.left{
    /* background-color: aqua; */
    grid-area:left;
    padding:10px;
    /*Texto*/
    text-align: center;
    letter-spacing: 2px; 

}
.tituloSection{
    font-size: 60px;

}
.subTituloSection{
    font-size: 20px;
   
}

.containerTabla{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 20px;
    /* grid-auto-rows: auto; */
}
.containerTabla > div{
    border-radius: 20px;
    background-color: #e4e4e2;
    box-shadow: 0 0 10px;
}
/*Parte de la imagen / aside*/
.contenido{
    grid-area:contenido;
    margin-top: 80px;

}
.contenido > img{
    border-radius: 25px;
    box-shadow: 0 0 20px;
}

/*Parte de los contectos o sociales / footer*/
.containerfooter{
    display: grid;
    grid-template: 120px 0px 50px  / 400px 1fr;
    grid-template-areas: "header header"
                        "left contenido"
                        "footer footer";
    grid-gap:-10px;
 margin-top: -40px
}
.footer{
    grid-area:footer;
    width: 97vw;
}
.footertexto{
    margin: auto auto auto 500px;
    font-family: Verdana, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.iconossociles1{
    float: left;
    letter-spacing:50px;
    margin-left: 50px;
}
.iconossociles2{
    float: right;
    letter-spacing:50px;
    margin-top: -60px;
    margin-right: 100px;
}
#moving {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;    
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
